
.home-content{
    text-align: center;
    width: 60vh;
    margin: auto;
}

.home-content h3{
    line-height: 1.5em;
    height: 3em;
    opacity: 0.4;
    margin-bottom: 80px;
}

.home-image{
    text-align: center;
}

.home-image img{
    width: auto;
    height: 35vw;
    margin-bottom: -4px;
}

.banner{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #f56a75;
    color: white;
    align-items: center;
}

.banner button{
    color: white;
    padding: 5px 25px 10px 25px;
    background-color: #0e3757;
    border-radius: 5px;
    cursor: pointer;
}

.banner h3{
    color: white;
}

@media only screen and (max-width: 760px){
    .home-content{
        width: 40vh;
    }

    .home-image img{
        width: 90%;
        height: auto;
    }

    .banner{
        display: block;
        text-align: center;
        padding: 20px 0 20px 0;
    }

    .banner h3{
        width: 50%;
        margin: 10px auto 30px auto;
    }

    .banner button{
        width: 70%;
        text-align: left;
    }
}