.Navbar{
    height: 80px;
    background: red;
    display: flex;
}

.Navbar .logo {
    flex: 50%;
}

.Navbar .Navlinks {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
}

.Navbar .Navlinks .links{
    max-height: 80px;
}

.Navbar .Navlinks .links a{
   text-decoration: none;
}

.dropdown{
    display: none;
}

@media only screen and (max-width: 650px) {
  .dropdown{
      display: flex;
  }
    .Navbar .Navlinks .links a{
        display: none;
    }
    #hidden{
        position: absolute;
        left: 0;
        top: 80px;
        height: 230px;
        max-height: 230px;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #0e3657;
    }
    #hidden a{
        display: flex;
        margin: 10px;
        font-size: 25px;
    }
}