.services-content{
    text-align: center;
    width: 60vh;
    margin: auto;
}
.services-content h3{
    line-height: 1.5em;
    height: 3em;
    opacity: 0.4;
    margin-bottom: 100px;
}

.services{
    display: flex;
    justify-content:center;
}

.card{
    width: 40vh;
    margin-right: 10px;
    text-align: center;
}

.card-desc{
    opacity: 0.4;
}

.card-details img{
    width: 100px;
}

.card-details{
    position: relative;
}

.card-details p{
    color: white;
    position: absolute;
    top: -12px;
    left: 24.5vh;
}

.quote{
    width: 70vh;
    margin: auto;
}
.quote img{
    width: 30px;
    float: left;
    margin-top: 5px;
}
.quote h3,h6{
    margin-left: 50px;
}

.quote h6{
    opacity: 0.4
}

@media only screen and (max-width: 760px){
    .services-content{
        width: 75%;

    }
    .services-content h3{
        margin-bottom: 100px;
    }

    .card{
        margin: auto;
    }

    .quote{
        width: 100%;
    }
}

@media only screen and (max-width: 450px){
    .services{
        display: block;
    }

}